/*documento.css*/
body { background-color: rgb(249, 248, 244);}

.cabecera { background-color: rgb(249, 196, 255); 
            padding: 16px 0px; }

.logo { font-size: 6em; 
       color: rgb(119, 24, 114);
       text-align: center;
       display: block;}  

.pie { background-color: rgb(175, 223, 207);
      text-align: center;
      padding: 16px 0px; }

.contenido img {width: 400px;
               height: auto;
              margin: 6px auto; ;
              margin-bottom: 12px;}

.flotador {width: 100px;
          height: 300;
          background-image: url(../image.jpg);
          background-position: bottom left;}

.plenitud {float: left;}

/*-cuerpo.html-*/

h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 3em;
       padding-bottom: 6px;
       text-align:center;}

h2 {text-decoration: solid;
   font-size: 2em;
   padding-bottom: 16px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;}

         

.contenido p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom: 5px;
  margin-top: 25px;
text-align:left;}