/*documento css*/

body {background-color: rgb(253, 255, 240);}

h2 {color: brown;
    font-size: 15px;
    margin: 20px 40px 40px 20px;}

p {color: brown;
    font-size: 15px;
    margin: 20px 40px 40px 20px;}

a {margin: 20px 40px 40px 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.items {margin: 0px 40px 40px 20px;}